* {
    margin: 0;
    box-sizing: border-box;
}

.box {
 background-color: rgba(0, 0, 250, 0.1);
display: flex;
flex-direction: column;
align-items: center;
}
.title {
margin-top: 20px;
font-size: 40px;
}
.newtask {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid gray;
  margin-right: 1vw;
  }
.new {
  padding: 10px 20px;
  background-color: rgba(50, 0, 200, 0.5);
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.tasks {
margin-top: 20px;
width: 60%;
display: flex;
flex-direction: column;
}
.task {
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.bottomtalbe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 10px;
}
.taskCount {
    color: gray;
}
.centralbtn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn {
    background-color: gray;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.task-text {
    width: 70%;
}